.nav-link {
    position: relative;
    transition: all 0.3s ease;
}

.nav-link:hover {
    font-weight: bold;
    border-bottom: red 2px solid;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}