* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(132, 226, 255);
    margin: 0 auto;
}

nav{
    width: 85%;
    margin: 0 auto;
}

nav ul{
    margin: 0 auto;
    color: rgb(199, 199, 199);
    padding: 12px 10%;
    text-align: center;
    list-style-type: none;
    display: flex;
}

nav ul li {
    list-style: none;
    flex-grow: 1;
    margin: 1px;
    padding: 10px;
    background-color: rgb(0, 195, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background-color: white;
}

nav ul li:hover a {
    color: black;
}

main{
    width: 85%;
    margin: 0 auto;
}

main section {
    display: none;
    width: 80%;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    border-top: none;
}

main section:target {
    display: inherit;
}



