*{
    margin: 0 auto;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body{
    background-color: white;
    width: 100%;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(199, 199, 199);
}

nav ul{
    background-color: #333;
    color: rgb(199, 199, 199);
    padding: 12px 10%;
    text-align: center;
    list-style-type: none;
    display: flex;
}

nav ul li{
    position: relative;
    flex-grow: 1;
    font-size: 12px;
}

nav ul li:hover a{
    color: white;
}
